
@{
    ViewBag.Title = "AdPlacement";
    Layout = "~/Views/Shared/_DeclarationProduct.cshtml";
}

<div class="container">
    <div class="col-md-8 ">
        <form>
            <div class="contentform">
                <h2>Продвежение оплаты:</h2>
                <br>
                <div class="form-group">
                    <label for="one">28 дней</label>
                    <div class="input-group">
                        <input type="radio" name="one" value="">1500грн.
                        <div class="validation"></div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="two">3 дня</label>
                    <div class="input-group">
                        <input type="radio" name="two" value="">300грн.
                        <div class="validation"></div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="three">Цвет</label>
                    <div class="input-group">
                        <input type="radio" name="three" value="">400грн.
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="four">1 в списке</label>
                    <div class="input-group">
                        <input type="radio" name="four" value="">1400грн. 
                        <div class="validation"></div>
                    </div>
                </div>
              


                <h2>Способы оплаты:</h2>
                <br />
                <div class="form-group">
                    <div class="input-group">
                        <label class="radio-inline"><input type="radio" name="optradio">СМС</label>
                        <label class="radio-inline"><input type="radio" name="optradio">LiqPey</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Приват24</label>
                        <label class="radio-inline"><input type="radio" name="optradio">WebMoney</label>
                        <div class="validation"></div>
                        <hr>
                    </div>
                </div>


              



            </div>

        </form>
    </div>
</div>



