
@{
    ViewBag.Title = "Publication";
    Layout = "~/Views/Shared/_DeclarationProduct.cshtml";
}

<div class="container">
    <div class="col-md-10">
        <div class="contentform publication">
            <h1>Asus</h1>
          
                <div class="head_foto">
                    <div class="publication_head_foto"><img src="~/Content/images/12.jpg" /></div>
                    <div class="publication_head_foto"><img src="~/Content/images/12.jpg" /></div>
                    <div class="publication_head_foto"><img src="~/Content/images/12.jpg" /></div>
                    <div class="publication_head_foto"><img src="~/Content/images/12.jpg" /></div>
                </div>
            <br />
            <div class="center_publication">
                <div class="leftPublication">

                    <img src="~/Content/images/3.jpg" />
                </div>
                <div class="rightPublication">

                    <div class="form-group">
                        <label for="info">Дополнительная информация</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-info-circle "
                                   aria-hidden="true"></i>
                            </span>
                            <textarea name="info" id="info" rows="3" cols="33" data-rule="required" data-msg="Info"></textarea>
                            <div class="validation"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="down_publication">
                <div class="leftPublication">

                 <div class="left ">
                    <img src="~/Content/images/t7.png" />
                    <div class="right">
                   <h3>Jenny</h3>
                        <h4>id = 300011</h4>

                    </div>
</div>
                <div class="rightPublication">

                </div>
            </div>


        </div>

    </div>
</div>
