
@{
    ViewBag.Title = "productLoopTope";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Electronic Store a Ecommerce Online Shopping Category Bootstrap Responsive Website Template | Products :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- Custom Theme files -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->

    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/slider.js"></script>

    <!-- //js -->
    <!-- web fonts -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //web fonts -->
    <!-- for bootstrap working -->

    <script type="text/javascript" src="~/Scripts/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
        $(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });


        $(function () {
            $("#slider").slider();
        });
    </script>
    <!-- //end-smooth-scrolling -->
</head>
<body>




    <!-- mobiles -->
    <div class="mobiles">
        <div class="Paggnation">
            <div class="container">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header ">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div id="field">
                        <div id="slid" data-role="fieldcontain">
                            <label for="slider">Цена от:</label> <input class="input_slider" type="text" placeholder="От">   <label for="slider">До:</label><input class="input_slider" type="text" placeholder="От">
                            <input type="range" name="slider" id="slider" value="0" min="0" max="100" />
                        </div>
                    </div>



                    <div class="col-md-8" id="sear">
                        <div class="input-group ">
                            <span class="input-group-addon" id="basic-addon2">Регион</span>
                            <input type="text" class="form-control" placeholder="Киев" aria-describedby="basic-addon2">
                        </div>
                    </div>

                </nav>
            </div>
        </div>
        <!-- //navigation -->
        <div class="container">
            <div class="w3ls_mobiles_grids">
                <div id="left_menu" class="col-md-4 w3ls_mobiles_grid_left">
                    <div class="w3ls_mobiles_grid_left_grid">
                        <h3>Категории</h3>
                        <div class="w3ls_mobiles_grid_left_grid_sub">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Производитель
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                        <div class="ecommerce_color ecommerce_size">
                                            <ul>
                                                <li><a href="products.html">Asus</a></li>
                                                <li><a href="products1.html">HP</a></li>
                                                <li><a href="products2.html">Acer</a></li>
                                                <li><a href="products.html">Lenovo</a></li>
                                                <li><a href="products2.html">MacBook</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Цвет
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="ecommerce_color">
                                            <ul>
                                                <li><a href="#"><i></i> Красный(5)</a></li>
                                                <li><a href="#"><i></i> Rоричневый(2)</a></li>
                                                <li><a href="#"><i></i> Желтый(3)</a></li>
                                                <li><a href="#"><i></i> Фиолетовый(6)</a></li>
                                                <li><a href="#"><i></i> Оранжевый(2)</a></li>
                                                <li><a href="#"><i></i> Синий(1)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Обьем жёсткого диска
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="ecommerce_color ecommerce_size">
                                            <ul>
                                                <li><a href="#">128 Gb</a></li>
                                                <li><a href="#">256 Gb</a></li>
                                                <li><a href="#">512 Gb</a></li>
                                                <li><a href="#">1024 Gb</a></li>
                                                <li><a href="#">2048 Gb</a></li>
                                                <li><a href="#">4096 Gb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>





                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFive">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Объем оперативной памяти
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                        <div class="ecommerce_color ecommerce_size">
                                            <ul>
                                                <li><a href="#">128 Gb</a></li>
                                                <li><a href="#">256 Gb</a></li>
                                                <li><a href="#">512 Gb</a></li>
                                                <li><a href="#">1024 Gb</a></li>
                                                <li><a href="#">2048 Gb</a></li>
                                                <li><a href="#">4096 Gb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingSix">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Количество ядер
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="ecommerce_color ecommerce_size">
                                            <ul>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">4</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>







                            </div>

                        </div>



                    </div>





                </div>

                <div class="col-md-8 w3ls_mobiles_grid_right">
                    <div class="w3ls_mobiles_grid_right_grid2">
                        <div class="w3ls_mobiles_grid_right_grid2_left">
                            <h3>Отображено результатов: 0-1</h3>
                        </div>
                        <div class="w3ls_mobiles_grid_right_grid2_right">
                            <select name="select_item" class="select_item">
                                <option selected="selected">Сортировка</option>
                                <option>Сортировка по популярности</option>
                                <option>Сортировка по среднему рейтингу</option>
                                <option>Сортировка по недавно пришедшых</option>
                                <option>Сортировка по цене: от А до Я</option>
                                <option>Сортировка по цене:: от Я до А </option>
                            </select>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="w3ls_mobiles_grid_right_grid3">
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal9"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>

                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Smart Phone</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p> <i class="item_price">245грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                        <input type="hidden" name="amount" value="245.00" />

                                    </form>
                                </div>
                                <div class="mobiles_grid_pos">
                                    <h6>Новый</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/p1.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p2.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p3.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p4.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p1.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Audio-speaker</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">45грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Audio-speaker" />
                                        <input type="hidden" name="amount" value="45.00" />

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/26.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal9"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Red Mobile</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">65грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Red Mobile" />
                                        <input type="hidden" name="amount" value="65.00" />

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="w3ls_mobiles_grid_right_grid3">
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal9"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Smart Phone</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">245грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                        <input type="hidden" name="amount" value="245.00" />

                                    </form>
                                </div>
                                <div class="mobiles_grid_pos">
                                    <h6>Новый</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/p1.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p2.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p3.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p4.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p1.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Audio-speaker</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">45грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Audio-speaker" />
                                        <input type="hidden" name="amount" value="45.00" />

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/26.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal9"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Red Mobile</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">65грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Red Mobile" />
                                        <input type="hidden" name="amount" value="65.00" />

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="w3ls_mobiles_grid_right_grid3">
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/p4.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p1.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p3.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p2.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p5.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Headphone</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">245грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Headphone" />
                                        <input type="hidden" name="amount" value="245.00" />

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/p5.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p1.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p2.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p4.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p3.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Wireless Speaker</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">86грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Wireless Speaker" />
                                        <input type="hidden" name="amount" value="86.00" />

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/p6.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/26.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/22.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p6.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Asus Tablet</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">425грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Asus Tablet" />
                                        <input type="hidden" name="amount" value="425.00" />

                                    </form>
                                </div>
                                <div class="mobiles_grid_pos">
                                    <h6>Новый</h6>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="w3ls_mobiles_grid_right_grid3">
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/p3.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p5.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p4.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p2.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p1.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Music MP3 Player</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">58грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Ultra MP3 Player" />
                                        <input type="hidden" name="amount" value="58.00" />

                                    </form>
                                </div>
                                <div class="mobiles_grid_pos">
                                    <h6>Новый</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/p6.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/26.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Golden Tablet</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">550грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Golden Tablet" />
                                        <input type="hidden" name="amount" value="550.00" />

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles">
                            <div class="agile_ecommerce_tab_left mobiles_grid">
                                <div class="hs-wrapper hs-wrapper2">
                                    <img src="~/Content/images/35.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                    <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                    <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#myModal9"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="right">
                                        <span id="elementImg">
                                            <img class="element" src="~/Content/images/hdd.png" /><br />
                                            <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                            <img class="element" src="~/Content/images/Op.jpg" />
                                        </span>
                                    </span>
                                </div>
                                <div>
                                    <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                                </div>
                                <h5><a href="single.html">Wireless Phone</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><i class="item_price">210грн.</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Wireless Phone" />
                                        <input type="hidden" name="amount" value="210.00" />

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="modal video-modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModal9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="col-md-5 modal_body_left">
                            <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-md-7 modal_body_right">
                            <h4>Latest Smart Phone </h4>
                            <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.
                            </p>
                            <div class="rating">
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="modal_body_right_cart simpleCart_shelfItem">
                                <p><span>$250</span> <i class="item_price">$245</i></p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                    <input type="hidden" name="amount" value="245.00" />
                                </form>
                            </div>
                            <h5>Color</h5>
                            <div class="color-quality">
                                <ul>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#" class="brown"><span></span></a></li>
                                    <li><a href="#" class="purple"><span></span></a></li>
                                    <li><a href="#" class="gray"><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal video-modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal6">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="col-md-5 modal_body_left">
                            <img src="~/Content/images/34.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-md-7 modal_body_right">
                            <h4>Musical Kids Toy</h4>
                            <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.
                            </p>
                            <div class="rating">
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="modal_body_right_cart simpleCart_shelfItem">
                                <p><span>$150</span> <i class="item_price">$100</i></p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="w3ls_item" value="Kids Toy">
                                    <input type="hidden" name="amount" value="100.00">

                                </form>
                            </div>
                            <h5>Color</h5>
                            <div class="color-quality">
                                <ul>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#" class="brown"><span></span></a></li>
                                    <li><a href="#" class="purple"><span></span></a></li>
                                    <li><a href="#" class="gray"><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal video-modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal5">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="col-md-5 modal_body_left">
                            <img src="~/Content/images/36.jpg" alt=" " class="img-responsive">
                        </div>
                        <div class="col-md-7 modal_body_right">
                            <h4>Dry Vacuum Cleaner</h4>
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <div class="rating">
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="modal_body_right_cart simpleCart_shelfItem">
                                <p><span>$960</span> <i class="item_price">$920</i></p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="w3ls_item" value="Vacuum Cleaner">
                                    <input type="hidden" name="amount" value="920.00">
                                </form>
                            </div>
                            <h5>Color</h5>
                            <div class="color-quality">
                                <ul>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#" class="brown"><span></span></a></li>
                                    <li><a href="#" class="purple"><span></span></a></li>
                                    <li><a href="#" class="gray"><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal video-modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal4">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="col-md-5 modal_body_left">
                            <img src="~/Content/images/p3.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-md-7 modal_body_right">
                            <h4>Music MP3 Player </h4>
                            <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.
                            </p>
                            <div class="rating">
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="modal_body_right_cart simpleCart_shelfItem">
                                <p><span>$60</span> <i class="item_price">$58</i></p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="MP3 Player" />
                                    <input type="hidden" name="amount" value="58.00" />
                                </form>
                            </div>
                            <h5>Color</h5>
                            <div class="color-quality">
                                <ul>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#" class="brown"><span></span></a></li>
                                    <li><a href="#" class="purple"><span></span></a></li>
                                    <li><a href="#" class="gray"><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal video-modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="col-md-5 modal_body_left">
                            <img src="~/Content/images/38.jpg" alt=" " class="img-responsive">
                        </div>
                        <div class="col-md-7 modal_body_right">
                            <h4>Kitchen &amp; Dining Accessories</h4>
                            <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.
                            </p>
                            <div class="rating">
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive">
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="modal_body_right_cart simpleCart_shelfItem">
                                <p><i class="item_price">$645</i></p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="add" value="1">
                                    <input type="hidden" name="w3ls_item" value="Microwave Oven">
                                    <input type="hidden" name="amount" value="645.00">

                                </form>
                            </div>
                            <h5>Color</h5>
                            <div class="color-quality">
                                <ul>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#" class="brown"><span></span></a></li>
                                    <li><a href="#" class="purple"><span></span></a></li>
                                    <li><a href="#" class="gray"><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="col-md-5 modal_body_left">
                            <img src="~/Content/images/p6.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="col-md-7 modal_body_right">
                            <h4>Latest Asus ZenPad Tablet</h4>
                            <p>
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est laborum.
                            </p>
                            <div class="rating">
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star-.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="rating-left">
                                    <img src="~/Content/images/star.png" alt=" " class="img-responsive" />
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="modal_body_right_cart  simpleCart_shelfItem">
                                <p><span>$45</span> <i class="item_price">$425</i></p>
                                <form action="#" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="Latest Tablet" />
                                    <input type="hidden" name="amount" value="425.00" />

                                </form>
                            </div>
                            <h5>Color</h5>
                            <div class="color-quality">
                                <ul>
                                    <li><a href="#"><span></span></a></li>
                                    <li><a href="#" class="brown"><span></span></a></li>
                                    <li><a href="#" class="purple"><span></span></a></li>
                                    <li><a href="#" class="gray"><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <!-- footer -->
    <!-- //footer -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo2").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 568,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 667,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>

    <script type="text/javascript" src="~/Scripts/js/jquery.flexisel.js"></script>
    <!-- cart-js -->
    <script src="~/Scripts/js/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                }
            }
        });
    </script>
    <!-- //cart-js -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
