
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyOffice.cshtml";
}
<html>
<body>
    <!-- new-products -->
    <div class="new-products">
        <div class="container">
            <div class="agileinfo_new_products_grids">
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //new-products -->
    <!-- new-products 2  -->
    <div class="new-products">
        <div class="container">
            <div class="agileinfo_new_products_grids">
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //new-products 2 -->
    <!-- new-products 3  -->
    <div class="new-products">
        <div class="container">
            <div class="agileinfo_new_products_grids">
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">

                        <div class="allcontent">
                            <div class="hs-wrapper hs-wrapper1">
                                <img src="~/Content/images/27.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/28.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/29.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/30.jpg" alt=" " class="img-responsive" />
                                <img src="~/Content/images/31.jpg" alt=" " class="img-responsive" />
                                <div class="w3_hs_bottom w3_hs_bottom_sub">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <span class="right">
                                <span id="elementImg">
                                    <img class="element" src="~/Content/images/hdd.png" /><br />
                                    <img class="element" src="~/Content/images/Proc.jpg" /><br />
                                    <img class="element" src="~/Content/images/Op.jpg" />
                                </span>
                            </span>


                        </div>


                        <div>
                            <h5>Samsung Galaxy J5 (2016) J510H/DS Black + защитное стекло + чехол!</h5>
                        </div>
                        <h5><a href="single.html">Black Phone</a></h5>
                        <div class="simpleCart_shelfItem">
                            <p><i class="item_price">370грн.</i></p>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="w3ls_item" value="Black Phone">
                                <input type="hidden" name="amount" value="370.00">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //new-products 3 -->
    <!-- //footer -->
    <!-- cart-js -->

    <script src="~/Scripts/js/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                }
            }
        });
    </script>
    <!-- //cart-js -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>