
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/MyOffice.cshtml";
}

<!-- Setting -->



    <div class="team">
        <div class="container">

            <div class="wthree_team_grids">
                <div class="col-md-5 wthree_team_grid">
                    <img src="~/Content/images/t4.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom w3_hs_bottom_sub1 w34ds">
                        <ul>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#myModal8"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>


                    <h4>Smith Allen </h4>
                    <div class="agileits_social_button">
                        <ul>
                            <li><a href="#" class="facebook"> </a></li>
                            <li><a href="#" class="twitter"> </a></li>
                            <li><a href="#" class="google"> </a></li>
                            <li><a href="#" class="pinterest"> </a></li>
                            <li><a href="#" class="skype"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="address_all">
                    <div class="setting_li col-md-10">

                        <ul class="address">
                            <li><i class="glyphicon glyphicon-map-marker glyp" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
                            <li><i class="glyphicon glyphicon-envelope glyp" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                            <li><i class="glyphicon glyphicon-earphone glyp" aria-hidden="true"></i>+1234 567 567</li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
       
    </div>



    <div class="modal video-modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModal8">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">

                    </div>
                </section>
            </div>
        </div>
    </div>

 